# ***************************************************
# Log levels:
#    None         = 0,
#    Debug        = 1,
#    Trace        = 2,
#    Info         = 4,
#    Warn         = 8,
#    Minor        = 16,
#    Major        = 32,
#    Error        = 64,
#    SeriousError = 128
# ***************************************************

BROADBAND_PROBE                         false
GX_PROBE                                false
RADIUS_PROBE                            false
IUPS_PROBE                              true
GN_PROBE                                false
S1MME_PROBE                             false

PROBE_ID                                20
LOG_LEVEL                               4
PRINT_STATS                             true
PRINT_STATS_FREQ_SEC                    10

XDR_DIR                                 /data/xdr/SpectaProbe/
LOG_DIR                                 /var/log/pinnacle/SpectaProbe/
DATA_DIR                                /data/SpectaProbe/

SCCP_WRITE_SESSION_TRACE                false
SCCP_WRITE_SESSION_DIR_PREFIX           sccp
SCCP_TRACE_SESSION_IDS                  24130b5dff
SGSN_POINT_CODES                        9665

# ***************************************************
# INTERFACE Type: 0 - PCAP, 1 - ETHERNET, 2 - SOLARFLARE
# /root/Desktop/sf_workspace/pcap/gtpv2.pcap
# ***************************************************
ACTIVE_INTERFACE                        1

# PCAP ::- 0 - Infinite else repeate count
PCAP_FILE_NAME                          /home/pcap/gtpc.pacp
PCAP_REPEAT                             0

# ETHERNET ::-
ETHERNET_INTERFACE                      enp2s0

# SOLAR ::-
SOLAR_INTERFACE                         p3p1,p3p3
ROUTER_PER_INTERFACE                    1,1
PKT_LISTENER_CPU_CORE			1,2
PKT_ROUTER_CPU_CORE			3,0-4,0

# The LINE_RATE value is in Gbps, allowed values between (1 to 15)
LINE_RATE_PER_INTERFACE                 1,1

# Per Router pps capacity, allowed values between (1 to 1,000,000)
PPS_PER_INTERFACE                       200000,200000

SOURCE_MAC                              e8:ed:f3:34:74:5c
DESTINATION_MAC                         f8:4a:bf:67:93:52

SESSION_MANAGER_TIMEINDEX               10
SESSION_MANAGER_WRITE_INDEX_ADV         1
SESSION_MANAGER_READ_INDEX_LAG          0
FLUSHER_TIMEINDEX                       10
ZMQ_FLUSHER_TIMEINDEX                   10
SESSION_MANAGER_PER_TIMEINDEX_PKTS      100000
IP_SESSION_FLUSH_TIME_INDEX_REPO_SIZE   300000
IP_SESSION_PKT_LIMIT                    5000
IP_SESSION_REPO_MAX_LIMIT               500000
IP_SESSION_CLEAN_UP_SCAN_FREQ_SEC	20
IP_SESSION_CLEAN_UP_BATCH_LIMIT         50000

# ***************************************************
# if true, flush will take place in after
# every 10 sec.
# If false, flush will take place in after
# every 1 min.
# ***************************************************
FLUSH_IN_SEC                                    false

# ***************************************************
# Input Type: 0 - PCAP, 1 - ETHERNET, 2 - SOLARFLARE
# /home/deb/workspace/pcap/den002.pcap
# /home/deb/workspace/pcap/GTP/GTP01.pcap
# ***************************************************
BROADBAND_INTERFACE_TYPE                0

BROADBAND_INTERFACE_NAME                /root/Desktop/sf_workspace/pcap/den002.pcap
BROADBAND_SF_VIRTUAL_INTERFACES         1

BROADBAND_IP_FLUSH_FLAG                 false
BROADBAND_IP_FLUSH_PORT                         tcp://*:6571
BROADBAND_DNS_FLUSH_FLAG                false
BROADBAND_DNS_FLUSH_PORT                tcp://*:6572

# ***************************************************
# If false single Q, else each thread will have Q broadband_2016-07-22-12-26.xdr
# ***************************************************
BROADBAND_QUEUE                           true
BROADBAND_MULTI_SM_QUEUE                  false
BROADBAND_WRITE_XDR                     true
BROADBAND_FILE_PREFIX                   broadband


BROADBAND_IDLE_SESSION_TIMEOUT_IN_SEC     120
BROADBAND_ACTIVE_SESSION_TIMEOUT_IN_SEC   120
BROADBAND_SESSION_PACKET_LIMIT                  5000

# ***************************************************

GX_INTERFACE_TYPE                0

GX_INTERFACE_NAME                /root/Desktop/sf_workspace/pcap/GxGy/gxgy5.pcap
GX_SF_VIRTUAL_INTERFACES         1

GX_FLUSH_FLAG                 false
GX_FLUSH_PORT                 tcp://*:6571

# ***************************************************
# If false single Q, else each thread will have Q broadband_2016-07-22-12-26.xdr
# ***************************************************
GX_WRITE_XDR                       true
GX_FILE_PREFIX                     gx


GX_IDLE_SESSION_TIMEOUT_IN_SEC     120
GX_ACTIVE_SESSION_TIMEOUT_IN_SEC   120
GX_SESSION_PACKET_LIMIT            5000

# ***************************************************
RADIUS_INTERFACE_TYPE              0

RADIUS_INTERFACE_NAME              /root/Desktop/sf_workspace/pcap/RADIUS/den000.pcap
RADIUS_SF_VIRTUAL_INTERFACES       1

RADIUS_FLUSH_FLAG                       false
RADIUS_FLUSH_PORT                       tcp://*:6571

# ***************************************************
# If false single Q, else each thread will have Q broadband_2016-07-22-12-26.xdr
# ***************************************************
RADIUS_WRITE_XDR                       true
RADIUS_FILE_PREFIX                     radius


RADIUS_IDLE_SESSION_TIMEOUT_IN_SEC     120
RADIUS_ACTIVE_SESSION_TIMEOUT_IN_SEC   120
RADIUS_SESSION_PACKET_LIMIT            5000

# ***************************************************

GN_SESSION_MANAGER_INSTANCES            	1
GN_SESSION_MANAGER_CPU_CORE 			5

GN_GTPU_FLUSHER_NO                              2
GN_GTPU_FLUSHER_CPU_CORE			12,13
GN_GTPC_FLUSHER_CPU_CORE			15
GN_ZMQ_FLUSHER_CPU_CORE				14
GN_XDR_FLUSHER_CPU_CORE				14


GN_GTPC_WRITE_XDR                               true
GN_GTPC_FILE_PREFIX                             gtpc
GN_GTPC_FLUSH_FLAG                              false
GN_GTPC_FLUSH_PORT                              tcp://*:6574

GN_GTPU_WRITE_XDR                               true
GN_GTPU_FILE_PREFIX                             gtpu
GN_GTPU_FLUSH_FLAG                              false
GN_GTPU_FLUSH_PORT                              tcp://*:6573

GN_DNS_WRITE_XDR                                true
GN_DNS_FILE_PREFIX                              dns
GN_DNS_FLUSH_FLAG                               false
GN_DNS_FLUSH_PORT                               tcp://*:6572

GTPC_FLUSH_MAP_REPO_SIZE                        50000
GTPC_ZMQ_FLUSH_MAP_ARRAY_SIZE                   50000
GTP_ZMQ_FLUSER_TPS                              50000

# ***************************************************
# If false single Q, else each thread will have Q broadband_2016-07-22-12-26.xdr
# ***************************************************

GN_GTPC_IDLE_SESSION_TIMEOUT_IN_SEC             120

GN_GTPU_IDLE_SESSION_TIMEOUT_IN_SEC             120
GN_GTPU_ACTIVE_SESSION_TIMEOUT_IN_SEC           120
GN_GTPU_SESSION_PACKET_LIMIT                    5000
GN_GTPC_MAX_SESSIONS                            30000
# ***************************************************
# Input Type: 0 - PCAP, 1 - ETHERNET, 2 - SOLARFLARE
# ***************************************************

IUPS_SESSION_MANAGER_INSTANCES            	1
IUPS_SESSION_MANAGER_CPU_CORE 			5

IUPS_FLUSHER_NO                         	1
IUPS_FLUSHER_CPU_CORE				6

IUPS_ZMQ_FLUSHER_CPU_CORE			7
IUPS_XDR_FLUSHER_CPU_CORE			0

IUPS_IP_FLUSH_FLAG                      false
IUPS_IP_FLUSH_PORT                      tcp://*:6575
IUPS_WRITE_XDR                          true
IUPS_FILE_PREFIX                        iups
IUPS_IDLE_SESSION_TIMEOUT_IN_SEC        300
IUPS_ACTIVE_SESSION_TIMEOUT_IN_SEC      300
IUPS_ZMQ_FLUSER_TPS                     50000

MME_INTERFACE_TYPE                      0
MME_ETH_INTERFACE_NAME                  /home/deb/pcaps/S1-MME_1.pcap
MME_SF_INTERFACE_NAMES                  enp0s0,enp0s1
MME_SF_INTERFACE_STREAMS                4,2
MME_IP_FLUSH_FLAG                       true
MME_IP_FLUSH_PORT                       tcp://*:6579
MME_SM_QUEUE                            false
MME_MULTI_SM_QUEUE                      false
MME_WRITE_XDR                           true
MME_FILE_PREFIX                         iups
MME_IDLE_SESSION_TIMEOUT_IN_SEC         300
MME_ACTIVE_SESSION_TIMEOUT_IN_SEC       300
MME_SESSION_PACKET_LIMIT                5000
